In [1]:
# TO-DO: 
# 1. Read the csv
# 2. Plot the traces
# 3. Plot the heatmaps
# 4. Analysis.

In [3]:
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(222)
pd.set_option('display.max_columns', None)
plt.style.use('seaborn-paper')

In [39]:
rail = pd.read_csv('rail.csv')

In [40]:
rail.describe()

              Year    Rail_Total
count   620.000000    620.000000
mean   2001.500000   6657.590323
std       5.770937   8057.295250
min    1992.000000      0.000000
25%    1996.750000   2415.250000
50%    2001.500000   4441.500000
75%    2006.250000   7585.500000
max    2011.000000  66171.000000

In [49]:
rail.RailToTianjin.fillna(0).astype(float)

ValueError: could not convert string to float: '   äóî'

In [17]:
rail.describe()

              Year    Rail_Total
count   620.000000    620.000000
mean   2001.500000   6657.541161
std       5.770937   8057.297182
min    1992.000000      0.000000
25%    1996.750000   2415.250000
50%    2001.500000   4441.500000
75%    2006.250000   7585.500000
max    2011.000000  66171.000000

In [11]:
rail.head()

,Year,Province,RailToBeijing,RailToTianjin,RailToHebei,RailToShanxi,RailToInnerMongolia,RailToLiaoning,RailToJilin,RailToHeilongjiang,RailToShanghai,RailToJiangsu,RailToZhejiang,RailToAnhui,RailToFujian,RailToJiangxi,RailToShandong,RailToHenan,RailToHubei,RailToHunan,RailToGuangdong,RailToGuangxi,RailToHainan,RailToChongqing,RailToSichuan,RailToGuizhou,RailToYunnan,RailToTibet,RailToShaanxi,RailToGansu,RailToQinghai,RailToNingxia,RailToXinjiang,Rail_Total
0,1992,Beijing,973,315,481,95,58,123,32,62,35,77,35,16,18,8,31,100,54,37,110,13,0,0,48,9,11,0,31,14,5,7,14,2812.0
1,1992,Tianjin,147,424,322,117,103,77,26,45,20,71,30,15,24,8,55,73,33,17,78,9,0,0,27,5,9,0,36,27,6,13,37,1854.0
2,1992,Hebei,1314,1838,4473,317,230,671,112,157,73,255,83,51,66,36,311,209,199,84,221,88,0,0,104,15,23,0,40,30,8,17,21,11046.0
3,1992,Shanxi,1578,1736,8306,2681,280,1544,247,84,131,1647,240,514,143,139,2485,692,943,361,175,172,0,0,113,8,6,0,193,43,41,25,8,24535.0
4,1992,InnerMongolia,95,319,934,146,2977,717,372,948,15,70,29,21,9,9,150,73,36,23,34,12,0,0,27,4,3,0,21,34,16,87,8,7189.0

In [12]:
macro = pd.read_csv('macro.csv', encoding='ISO-8859-1')
macro.head()

   Year       Province    Pop  EmpRate    GDP    CPI
0  1992        Beijing  11.02      0.3   70.9  109.9
1  1992        Tianjin   8.79      1.1   41.1  111.4
2  1992          Hebei  62.75      2.5  127.9  106.1
3  1992         Shanxi  29.79      0.7   55.1  107.3
4  1992  InnerMongolia  22.07      3.3   42.2  107.4